body {
	font-family: 'Sintony', sans-serif;

}


h1 {
	text-align: center;	
}

.swagtitle h1 {
	font-family: 'Cherry Swash', cursive;
	font-weight: normal;
	font-size: 120px;
	padding-top: 2em;
}

input[type=text] {
	border: 1px solid #d9d9d9;
	width: 275px;
	height: 35px;
	margin: 1.15em auto 0.5em;
	display: inline-block;

	font-size: 20px;
	text-align: center;
}

input[type=text]:focus {
	outline: 0;
}

input[type=text]:hover {
	border: 1px solid #b3b3b3;
}

input[type=submit] {
	border: 1px solid #dadada;
	background: #f2f2f2;
	width: 80px;
	height: 30px;
	font-size: 14px;
	display: block;
	margin: 6px auto;
}

form {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
