body {
	font-family: 'Sintony', sans-serif;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.swagtitle h1 {
	font-family: 'Cherry Swash', cursive;
	font-weight: normal;
	font-size: 120px;
	padding-top: 2em;
	margin-bottom: 0em;
	color: #34495e;
}

.swagtitle h2 {
	font-family: 'Cherry Swash', cursive;
	color: #34495e;
	font-weight: normal;
	font-size: 30px;
}

input[type=text] {
	border: 1px solid #d9d9d9;
	width: 275px;
	height: 35px;
	margin: 1.15em auto 0.5em;
	display: inline-block;

	font-size: 20px;
	text-align: center;
}

input[type=text]:focus {
	outline: 0;
}

input[type=text]:hover {
	border: 1px solid #b3b3b3;
}

input[type=submit] {
	font-size: 14px;
	display: block;
	margin: 3em auto;
}

form {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.box {
	background: #34495e;
	box-shadow: 0px 10px 20px #1f2b38;
	border-radius: 8px;
	width: 960px;
	margin: 72px auto;
	padding: 16px;
}

.box #map-canvas {
	border-radius: 8px;
}

#products {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.product {
	margin: 15px 0;
}

.product:first-of-type {
	margin: 0 0 15px;
}

.product:last-of-type {
	margin: 15px 0 0;
}

.product div {
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	padding: 8px;
}

.product div img {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	margin-left: 16px;
}

.product div p {
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
	margin-left: 12px;
}
