@font-face {
	font-family: quiglet;
	src: url("search-bar/quiglet free.otf") format("opentype");
}

h1 {
	text-align: center;
	font-family: 'Quiglet', sans-serif;
}


input[type=text] {
	width: 300px; 
	background-color: #d3d3d3; 
	border: line; 
	height: 35px; 
	padding-left: 5px; 
	padding-right: 5px

}

form {
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}